build/
ua
kua
Makefile
Makefile.in
configure
config.h
config.h.in
config.log
config.status
aclocal.m4
autom4te.cache/
libtool
ltmain.sh
compile
depcomp
install-sh
missing
stamp-h1
src/.deps/
src/.dirstamp
*.o
*.po
